$alpha = 0.1;

$primary     = #0E8AFD
$primary-light = rgba(14, 138, 253, $alpha)
$secondary   = #8FD93A

$background  = #FFFFFF
$light       = #F5F7FA
$dark        = #C0C8CF
$grey        = #333333

$medium-blue = #007ADD
$dark-blue   = #006BC1

/////////////////////////////////////////////////////////////////
////////////////////////    MAP    //////////////////////////////
/////////////////////////////////////////////////////////////////

$map-pale-purple      = #E8B5B5 // Очень бледно-пурпурный
$map-pink-antique     = #D26C6C // Розовый антик
$map-purplish-red     = #9A525E // Серовато-пурпурно-красный
$map-dark-peach       = #FFDCB3 // Темно - персиковый

$map-light-blue       = #A6CEE3 // Светлый синий
$map-shiny-blue       = #298BAF // Блестящий зеленовато - синий
$map-dark-azure       = #075386 // Темно-лазурный
$map-midnight-blue    = #003366 // Полуночно - синий

$map-greenish-blue    = #ADC7CC // Очень светлый зеленовато - синий
$map-very-light-green = #90D0BF // Очень светлый зеленый
$map-bluish-green     = #679186 // Синевато - зеленый
$map-moderate-green   = #346666 // Умеренный зеленовато - синий

$map-light-green      = #C2DBAB // Очень светлый зеленый
$map-pale-green       = #8BA771 // Бледно-зеленый
$map-green-fern       = #59753F // Зеленый папоротник
$map-violet-blue      = #333D64 // Фиолетово - синий

$map-pale-blue        = #CDD1D6 // Очень бледный синий
$map-slate-gray       = #7E8797 // Светлый аспидно-серый
$map-tele-gray        = #909090 // Телегрей
$map-gentian-blue     = #071834 // Горечавково - синий

$map-dusty-blue       = #96EBEB // Пыльный голубой
$map-green-jungle     = #35B3B3 // Зеленые джунгли Крайола
$map-yellow-click     = #FFE606 // Желтый клик

/////////////////////////////////////////////////////////////////
//////////////////////    BUTTONS    ////////////////////////////
/////////////////////////////////////////////////////////////////

.text-primary-light {
  color: $grey;
}

.bg-primary-light {
  background: $primary-light;
}
