@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?22716106');
  src: url('/fonts/fontello.eot?22716106#iefix') format('embedded-opentype'),
    url('/fonts/fontello.woff2?22716106') format('woff2'),
    url('/fonts/fontello.woff?22716106') format('woff'),
    url('/fonts/fontello.ttf?22716106') format('truetype'),
    url('/fonts/fontello.svg?22716106#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
