// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary   = #1976D2
//$secondary = #26A69A
//$accent    = #9C27B0
//
//$dark      = #1D1D1D
//
//$positive  = #21BA45
//$negative  = #C10015
//$info      = #31CCEC
//$warning   = #F2C037

/////////////////////////////////////////////////////////////////
////////////////////////    SERVICE    //////////////////////////
/////////////////////////////////////////////////////////////////

$green    = #84D197
$orange   = #FFA63E
$red      = #FF6565

/////////////////////////////////////////////////////////////////
////////////////////    ILLUSTRATIONS    ////////////////////////
/////////////////////////////////////////////////////////////////

$illustration-light          = #EEF7FF
$illustration-light-blue     = #F5F9FE
$illustration-light-gray     = #BBCFE2
$illustration-blue           = #0E8AFD
$illustration-dark-blue      = #568DC4
$illustration-white          = #FFFFFF
$illustration-gray           = #8597A8
$illustration-dark-gray      = #465C72
$illustration-dark-gray-plus = #38495B
$illustration-black          = #25323F
$illustration-skin           = #FBBEBE
$illustration-dark-skin      = #F3AEAE
$illustration-pink           = #FF6584

/////////////////////////////////////////////////////////////////
////////////////////    DARK THEME    ///////////////////////////
/////////////////////////////////////////////////////////////////

$dark-theme-light   = #465275
$dark-theme-medium  = #343C50
$dark-theme-dark    = #282D3B
$dark-theme-black   = #1F232E

/////////////////////////////////////////////////////////////////
////////////////////    TYPOGRAPHY    ///////////////////////////
/////////////////////////////////////////////////////////////////

$headings ?= {
    overline: {
        size: 12px,
        line-height: 16px,
        weight: 700,
        letter-spacing: 3px
    },
    h1: {
        size: 48px,
        line-height: 58px,
        weight: 100,
        letter-spacing: 0
    },
    h2: {
        size: 36px,
        line-height: 44px,
        weight: 700,
        letter-spacing: 0
    },
    h3: {
        size: 30px,
        line-height: 38px,
        weight: 700,
        letter-spacing: 0
    },
    title: {
        size: 20px,
        line-height: 28px,
        weight: 400,
        letter-spacing: 0
    },
    medium: {
        size: 16px,
        line-height: 24px,
        weight: 400,
        letter-spacing: 0.5px
    },
    medium-b: {
        size: 16px,
        line-height: 24px,
        weight: 700,
        letter-spacing: 0.5px
    },
    small: {
        size: 14px,
        line-height: 22px,
        weight: 400,
        letter-spacing: 0.5px
    },
    button: {
        size: 14px,
        line-height: 16px,
        weight: 400,
        letter-spacing: 0.75px
    },
    caption: {
        size: 12px,
        line-height: 16px,
        weight: 400,
        letter-spacing: 0.5px
    }
}

$h-tags ?= {
  h1: $headings.h1,
  h2: $headings.h2,
  h3: $headings.h3
}

$button-border-radius           ?= 4px
$button-padding                 ?= 14px 16px
$button-dense-padding           ?= .285em
$button-transition              ?= $generic-hover-transition
$button-font-size               ?= 14px
$button-line-height             ?= 1.715em
$button-font-weight             ?= 400
$button-shadow                  ?= $shadow-2
$button-shadow-active           ?= $shadow-5
$button-rounded-border-radius   ?= 28px
$button-push-border-radius      ?= 7px
